.auth-page {
    /* height: 100%; */
    padding-top: 470px;
}

.reg-page {
    /* height: 100%; */
    padding-top: 470px;
}

.container {
    margin: 0 auto;
    /* height: 100%; */
    display: flex;
    justify-content:center;
    align-items: center;
}