@import "./variables.pcss";
@import "./pages.pcss";

html {
    font-family: system-ui, sans-serif;
    background-color: var(--main-bg-color);
    height: 100%;
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

body {
    margin: 0;
    height: 100%;
}
