---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button/Button.astro';

---

<Layout title="Чат | Ошибка 500 (Internal Server Error)">
	<main class="error-page">
        <div class="container">
            <span class="error-page__title">500</span>
            <p class="error-page__text">Мы уже фиксим</p>
            <Button href="/chat" label="Назад к чатам" />
        </div>
    </main>
</Layout>
