---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form/Form.astro';

const formItems = [
    {
        id: 'login',
        name:'login',
        textLabel: 'Логин',
        placeholder: 'Логин',
        type: 'text' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректный логин',
    },
    {
        id: 'password',
        name:'password',
        textLabel: 'Пароль',
        placeholder: 'Пароль',
        type: 'password' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректный пароль',
    },
];

const formButtons = [
    {
        label: 'Авторизоваться'
    },
    {
        href: '/reg.html',
        label: 'Нет аккаунта?'
    }
];

---

<Layout title="Чат | Страница входа">
	<main class="auth-page">
        <div class="container">
            <Form formItems={formItems} formButtons={formButtons} formTitle="Вход" />
        </div>
    </main>
</Layout>
