---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form/Form.astro';

const formItems = [
    {
        id: 'email',
        name:'email',
        textLabel: 'Почта',
        placeholder: 'Почта',
        type: 'email' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректная почта'
    },
    {
        id: 'login',
        name:'login',
        textLabel: 'Логин',
        placeholder: 'Логин',
        type: 'text' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректный логин'
    },
    {
        id: 'first_name',
        name:'first_name',
        textLabel: 'Имя',
        placeholder: 'Имя',
        type: 'text' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректное имя'
    },
    {
        id: 'second_name',
        name:'second_name',
        textLabel: 'Фамилия',
        placeholder: 'Фамилия',
        type: 'text' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректная фамилия'
    },
    {
        id: 'phone',
        name:'phone',
        textLabel: 'Телефон',
        placeholder: 'Телефон',
        type: 'tel' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректный телефон'
    },
    {
        textLabel: 'Пароль',
        placeholder: 'Пароль',
        type: 'password' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректный пароль'
    },
    {
        textLabel: 'Пароль',
        placeholder: 'Пароль',
        type: 'password' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Пароли не совпадают'
    },
];

const formButtons = [
    {
        label: 'Зарегистрироваться'
    },
    {
        href: '/auth.html',
        label: 'Войти'
    }
];

---

<Layout title="Чат | Страница регистрации">
	<main class="reg-page">
        <div class="container">
            <Form formItems={formItems} formButtons={formButtons} formTitle="Регистрация" />
        </div>
    </main>
</Layout>
